/* ================= Header =================  */

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  z-index: 2;
  background: white;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}


.containerHeader{
  width: 90%;
  height: 8rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

#logo img{
  width: 6rem;
  padding: 1rem 0;
}

#menu{
  display: flex;
  align-items: center;
  gap: 3rem;

  font-size: 1.8rem;
  font-weight: bold;

  list-style: none;
  transition: 0.3s;
}

#menu a {
  display: block;
  padding: .5rem;
  font-size: 1.8rem;
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;

}

#menu a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #885F46;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#menu a:hover::after {
  transform: scaleX(1);
}

.redes-sociais-menu{
  display: none;
}



/* ================= Home =================  */

.containerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 8rem;

}

.col-1{
  width: 50%;
  margin-left: 10%;

}

.col-1 h1 {
  font-size: 6rem;
  font-weight: bold;
}

.col-1 span{
  color: #885F46;
  font-size: 2.6rem;
  font-weight: 700;
}
.col-1 p{
  color: #885F46;
  font-size: 1.6rem;

}

.btn-home button{
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: .5rem;

  font-weight: bold;
  cursor: pointer;
}

.btn-home button:hover{
  opacity: .8;
  transition: 1s;
}

.btn-1{
  background-color: #885F46;
  color: var(--color-white);
}

.redes-sociais{
  padding-top: 2rem;

  position: absolute;
  left: 1%;
  top: 38%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.redes-sociais img{
  opacity: .5;
  cursor: pointer;
}


.redes-sociais img:hover{
  opacity: 1;
  transition: .4s;
}

.col-2{
  width: 65rem;
  padding-top: 8%;
  
}

/* ================= Slide =================  */

.slider{
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  overflow: hidden;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%; 
  position: relative;
  
}

.slides{
  width: 65rem;
  height: 80vh;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;  
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  /* image  */
  width: 100%;
  transition: 2s;
  
}

.slide img{
  width: 65rem;
}

.manual-navigation{
  position: absolute;
  bottom: 4%;
  width: 60rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.manual-btn{
  border: 2px solid #885F46;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .5s;
}

.manual-btn:hover{
  background-color: #885F46;
}

#radio1:checked ~ .first{
  margin-left: 0;
} 

#radio2:checked ~ .first{
  margin-left: -100%;
} 

#radio3:checked ~ .first {
  margin-left: -200%;
} 

.navigation-auto div{
  border: 2px solid #885F46;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .5s;
}

.navigation-auto{
  position: absolute;
  bottom: 4%;
  width: 60rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #885F46;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #885F46;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #885F46;
}
