*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {

  font-size: 62.5%;
  /* 1rem=10px */

  --background-fundo: #121212;
  --marcacao: #151515;
  --border: #252525;

  --primary-color: #885F46;
  --color-black: #272727;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1px;
  overflow: overlay;
}


.container-footer{
  background-color: #885F46;
  width: 100%;

  padding: 2rem;
}

.info-footer{
  margin-bottom: 1rem;
  color: white;

}


.marca{
  text-align: center;
  padding: 1rem 0;
  color: #ccc;
  font-weight: bold;
  background-color: #885F46;

}


.redes-sociais-footer img{
  opacity: .9;
  cursor: pointer;
}


.redes-sociais-footer img:hover{
  opacity: 1;
  transition: .4s;

}