

@media (max-width: 768px) {

/* ================= Header =================  */

.containerHeader{

  padding: 1rem 2rem;
  position: fixed;
}

/* ================= Home =================  */


  .containerHome{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-home a{
    margin: 0;
    padding: 1rem 2rem;
  }
  .col-1{
    width: 80%;
    margin: auto;

    text-align: center;
  }

  .col-1 span{
    color: #885F46;
    font-size: 2.2rem;
    font-weight: 700;
  }

  .col-2{
    display: none;
  }

  .navigation-auto {
    width: 100%;
    align-items: center;
  }

  .manual-navigation{
    width: 100%;
    align-items: center;
  }

  .redes-sociais{
    position: inherit;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 2rem;

  }

  .redes-sociais-menu{
    display: flex;
    align-items: center;

  }
/* ================= Catalogo =================  */

.container-catalogo{
  margin-top: 6rem;
  width: 90%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.container-catalogo img{
  width: 30rem;
  height: 45rem;
}

.descricao-catalogo{
  text-align: center;
  padding: 0;
}

.descricao-catalogo h2{
  margin-top: .5rem;
  font-size: 2.4rem;
  text-align: center;

}

.descricao-catalogo p{
  display: none;
}

.btn-catalogo{
  margin-top: 2rem;
}


/* ================= Novidade =================  */

.containerNovidades{
  width: 100%;
  margin: auto;
}

.containerJuly,
.containerMila,
.containerNoivas {
  width: 95%;
  margin: auto;
}

.containerJuly{
  margin-bottom: 4rem;

}

.cardsJuly,
.cardsMila,
.cardsNoivas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cardJuly img,
.cardMila img,
.cardNoiva img{
  /* box-shadow: -.1rem 0 1rem #000; */
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  width: 40rem;
  height: 50rem;

}

/* ================= Categoria =================  */

  .container-categorias{
    width: 95%;
    margin: auto;
  }
  
  .cards{
    width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 3rem;
   
  }

  .card{
    margin-bottom: 3rem;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card:not(:first-child) {
    margin-left: 0;
  }

  
  .card:hover ~ .card {
    left: 0px;
  }

/* ================= Sobre =================  */

  .container-sobre{
    width: 85%;
  }

  .container-sobre p{
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3rem;
  }


/* ================= Contato =================  */


  #contato {
    width: 100%;
  }

  .form-contato {
    width: 85%;
   }
  

/* ================= Footer =================  */

   .info-footer{
    margin-left: 3rem;
    margin-bottom: 0;
   }

   .info-footer h3{
    font-size: 1.6rem;
   }

   .info-footer span{
    font-size: 1.2rem;
   }

  .marca p{
    font-size: 1.2rem;
    color: #ccc;
  }

  .redes-sociais-footer img{
    width: 2rem;
  }


}