

@media (max-width: 768px) {


/* ================= Home =================  */

  .containerHome{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-home button{
    margin: 0;
  }
  .col-1{
    width: 80%;
    margin: auto;

    text-align: center;
  }

  .col-1 span{
    color: #885F46;
    font-size: 2.2rem;
    font-weight: 700;
  }

  
  .col-2{
    display: none;
  }

  .navigation-auto {
    width: 100%;
    align-items: center;
  }

  .manual-navigation{
    width: 100%;
    align-items: center;
  }

  .redes-sociais{
    flex-direction: row;
    justify-content: center;
    align-items: end;
    top: 90%;
    position: relative;

  }

  .redes-sociais-menu{
    display: block;
  }
/* ================= Catalogo =================  */

#catalogo{
  padding-top: 20rem;
  display: none;
}


/* ================= Novidade =================  */

.containerJuly,
.containerMila {
  width: 100%;
}

.cardsJuly,
.cardsMila{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* ================= Categoria =================  */

  .container-categorias{
    width: 100%;
  }
  
  .cards{
    width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 3rem;
   
  }

  .card{
    margin-bottom: 3rem;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card:not(:first-child) {
    margin-left: 0;
  }

  
  .card:hover ~ .card {
    left: 0px;
  }

/* ================= Noivas =================  */
  .image-noivas{
    width: 85%;
    padding: 0;
  }


  .card-noivas img{
    width: 100%;
    height: 60rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
  }


  .container-sobre{
    width: 85%;
    padding-top: 10rem; 
  }

  .container-sobre p{
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3rem;
  }


/* ================= Contato =================  */


  #contato {
    width: 100%;
    margin-top: 4rem;
  }

  .form-contato {
    width: 85%;
   }
  
}