
/* ================= Novidades =================  */

#novidades{
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  padding: 5rem 0;
}

.containerNovidades{
  background-color: #FFF7F7;
  padding: 4rem 0 ;
}

.destaques{
  width: 90%;
  margin: auto;
}

.containerNovidades h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.apresentacao{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vestidos-novidades{
  width: 80%;
  height: 40rem;
  
  /* border: 1px solid #ccc; */
  border-radius: .5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.vestidos-novidades img{
  width: 28rem;  
  border-radius: .5rem;
}



.catalogo{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
}

.catalogo img{
  margin: auto;
  width: 18rem;
  border-radius: .5rem;
}

.catalogo a{
  text-decoration: none;
  padding: 1rem 1rem;
  background-color: #885F46;
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: .5rem;
  margin-top: 1rem;
}

.catalogo a:hover{
  opacity: .8 ;
}


/* ================= Categorias =================  */


.container-categorias{
  width: 90%;
  margin: auto;
  padding: 10rem 0;
  text-align: center;

}

/* ================= Festas =================  */
.container-box{
  margin-bottom: 3rem;
}
.container-box h2{
  margin-bottom: 4rem;
}


.image-festas{
  max-width: 95%;
  margin: auto;
  display: flex;
}

.card{
  display: flex;
  height: 45rem;
  width: 40rem;
  background-color: #17141d;
  border-radius: 1rem;
  box-shadow: -.8rem .5rem 2rem #000;

  transition: 1s ease-out;
  position: relative;
}

.card img{
  border-radius: 1rem;
  height: 100%;
  width: 40rem;
}

.card:not(:first-child) {
  margin-left: -125px;
  transition: 2s ease-out;
  /* overflow-x: hidden; */
}

.card:hover {
  transform: translateY(-20px);
  transition: 1s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 90px;
  transition: 0.8s ease-out;
}


.grid-festa{
  margin-top: 4rem;
  height: 40rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}


/* ================= Noivas =================  */

.image-noivas{
  width: 100%;
  margin: auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;

  padding: 1rem;
}


.card-noivas{
  transition: 0.8s ease-out;
  position: relative;
}

.card-noivas img{
  width: 30rem;
  height: 40rem;

  border: 1px solid #ccc;
  border-radius: .5rem;
}

.card-noivas:hover {
  transform: translateY(-20px);
  transition: 1s ease-out;
}

/* ================= Sobre =================  */

.container-sobre{
  text-align: center;
  width: 70%;
  height: 100vh;
  margin: auto;
  padding: 10rem 0; 
}

.container-sobre h2{
  margin-bottom: 2rem;
}
.container-sobre p{
  /* text-align: justify; */
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}


/* ================= Contato =================  */

.container-contato{
  text-align: center;
  width: 70%;
  height: 100vh;
  margin: auto;
  padding: 10rem 0; 
}